@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  font-family: Kanit;
}
