@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal;
}
